name: check

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

  merge_group: {}

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install pnpm
        uses: pnpm/action-setup@v2

      - name: Set node
        uses: actions/setup-node@v3
        with:
          node-version: 24.x
          cache: pnpm

      - name: Install
        run: pnpm install --frozen-lockfile

      - name: lint
        run: pnpm lint

      - name: lint text
        run: pnpm lint:text
# TODO: configure other jobs
