name: check

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

  merge_group: {}

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: jdx/mise-action@6d1e696aa24c1aa1bcc1adea0212707c71ab78a8 # v3.6.1

      - name: Install
        run: pnpm install --frozen-lockfile

      - name: lint
        run: pnpm lint

      - name: format check
        run: pnpm fmt:check
